# **Obtención y preparación de datos**

# OD27. Proyecto Final

Normalmente, los proyectos de ciencia de datos, comienzan con estadísticas descriptivas para tener una idea de las propiedades del conjunto de datos que se está trabajando. Afortunadamente, es fácil obtener estas estadísticas con las estructuras de datos de **Pandas**.

## <font color='blue'>**Estadística Descriptiva con la Base de Datos Iris**</font>

En este proyecto, deberán implemnetar el cálculo de varias estadísticas descriptivas para el clásico <a href="https://en.wikipedia.org/wiki/Iris_flower_data_set">conjunto de datos de iris</a>.

El siguiente código, carga los paquetes necesarios y también el conjunto de datos iris.

`load_iris()` carga en un objeto que contiene el conjunto de datos de iris.

In [1]:
import pandas as pd
import numpy as np

from pandas import DataFrame
from sklearn.datasets import load_iris

iris_obj = load_iris()

Obtendremos un objeto del tipo __Bunch__, el cual es un contenedor de datos a los cuales se accede a través de _llaves_, de forma similar que en un diccionario de Python.

In [2]:
type(iris_obj)

sklearn.utils._bunch.Bunch

In [3]:
iris_obj.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [4]:
print(type(iris_obj['data']), '\n')
iris_obj['data']

<class 'numpy.ndarray'>

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

### <font color='green'>Actividad 1</font>

Basado en la estructura del objeto **iris_obj**, convierta este en un dataframe.

In [5]:
from sklearn.datasets import load_iris
import pandas as pd

# Load the iris dataset
iris = load_iris()

# Convert to a pandas DataFrame
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [6]:
# Tu código aquí ...


# Crear un DataFrame a partir de los datos
df = pd.DataFrame(iris_obj.data, columns=iris_obj.feature_names)

# Agregar la columna de especies (target)
df['species'] = iris_obj.target_names[iris_obj.target]

# Mostrar el DataFrame resultante
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 5 columns]

<font color='green'>Fin Actividad 1</font>

### <font color='green'>Actividad 2</font>

1. Reemplace los valores de la columna "species" por los siguientes valores:
  * "setosa" = 0
  * "versicolor" = 1
  * "virginica" = 2

2. Agrupe las muestras por especies
3. Sin usar el método `describe` calcule los estadísticos básicos de la muestra:
  * cantidad de elementos no nulos
  * media
  * varianza
  * Desviación estándar
  * Percentiles y cuartiles
  * Rango inter-cuartílico
  * Valores máximos y mínimos
  * Rango (diferencia entre el máximo y el mínimo)
4. Repita algunos de los análisis anteriores, pero muestre sus resultados por columnas y especies.
5. Compare sus resultados usando el metodo `describe` por columnas y por especies
6. Generar una tabla multi-indice por "especies" y "ancho del pétalo" y que de cuenta de la suma de los valores de cada clase

In [7]:
# Tu código aquí ...


# Reemplazar los valores de la columna "species" por números
species_mapping = {"setosa": 0, "versicolor": 1, "virginica": 2}
df['species'] = df['species'].map(species_mapping)

# 1. Agrupar por especies
grouped = df.groupby('species')

# 2. Estadísticos básicos sin usar describe
def estadisticos_basicos(group):
    # Cantidad de elementos no nulos
    count = group.count()

    # Media
    mean = group.mean()

    # Varianza
    var = group.var()

    # Desviación estándar
    std = group.std()

    # Percentiles y cuartiles
    percentiles = group.quantile([0.25, 0.5, 0.75])

    # Rango inter-cuartílico (IQR)
    iqr = percentiles.loc[0.75] - percentiles.loc[0.25]

    # Valores máximos y mínimos
    max = group.max()

    min = group.min()

    # Rango
    rango = group.max() - group.min()

    return pd.DataFrame({
        'count': count,
        'mean': mean,
        'var': var,
        'std': std,
        '25th_percentile': percentiles.loc[0.25],
        '50th_percentile': percentiles.loc[0.5],
        '75th_percentile': percentiles.loc[0.75],
        'IQR': iqr,
        'max': max,
        'min': min,
        'range': rango
    })

# Calcular los estadísticos por grupo (especies)
estadisticos_por_especie = grouped.apply(estadisticos_basicos)
print(estadisticos_por_especie)

# 3. Análisis por columnas y especies (Repetir los análisis anteriores pero por columnas y especies)
# Estadísticos por columnas
estadisticos_por_columna = df.describe()
print("\nEstadísticos por columna:")
print(estadisticos_por_columna)

# 4. Crear una tabla multi-índice por "especies" y "ancho del pétalo"
multi_index_table = df.groupby(['species', 'petal width (cm)']).sum()
print("\nTabla multi-índice (especies y ancho del pétalo):")
print(multi_index_table)

                           count   mean       var       std  25th_percentile  \
species
0       sepal length (cm)     50  5.006  0.124249  0.352490            4.800
        sepal width (cm)      50  3.428  0.143690  0.379064            3.200
        petal length (cm)     50  1.462  0.030159  0.173664            1.400
        petal width (cm)      50  0.246  0.011106  0.105386            0.200
        species               50  0.000  0.000000  0.000000            0.000
1       sepal length (cm)     50  5.936  0.266433  0.516171            5.600
        sepal width (cm)      50  2.770  0.098469  0.313798            2.525
        petal length (cm)     50  4.260  0.220816  0.469911            4.000
        petal width (cm)      50  1.326  0.039106  0.197753            1.200
        species               50  1.000  0.000000  0.000000            1.000
2       sepal length (cm)     50  6.588  0.404343  0.635880            6.225
        sepal width (cm)      50  2.974  0.104004  0.322497            2.800
        petal length (cm)     50  5.552  0.304588  0.551895            5.100
        petal width (cm)      50  2.026  0.075433  0.274650            1.800
        species               50  2.000  0.000000  0.000000            2.000

                           50th_percentile  75th_percentile    IQR  max  min  \
species
0       sepal length (cm)             5.00            5.200  0.400  5.8  4.3
        sepal width (cm)              3.40            3.675  0.475  4.4  2.3
        petal length (cm)             1.50            1.575  0.175  1.9  1.0
        petal width (cm)              0.20            0.300  0.100  0.6  0.1
        species                       0.00            0.000  0.000  0.0  0.0
1       sepal length (cm)             5.90            6.300  0.700  7.0  4.9
        sepal width (cm)              2.80            3.000  0.475  3.4  2.0
        petal length (cm)             4.35            4.600  0.600  5.1  3.0
        petal width (cm)              1.30            1.500  0.300  1.8  1.0
        species                       1.00            1.000  0.000  1.0  1.0
2       sepal length (cm)             6.50            6.900  0.675  7.9  4.9
        sepal width (cm)              3.00            3.175  0.375  3.8  2.2
        petal length (cm)             5.55            5.875  0.775  6.9  4.5
        petal width (cm)              2.00            2.300  0.500  2.5  1.4
        species                       2.00            2.000  0.000  2.0  2.0

                           range
species
0       sepal length (cm)    1.5
        sepal width (cm)     2.1
        petal length (cm)    0.9
        petal width (cm)     0.5
        species              0.0
1       sepal length (cm)    2.1
        sepal width (cm)     1.4
        petal length (cm)    2.1
        petal width (cm)     0.8
        species              0.0
2       sepal length (cm)    3.0
        sepal width (cm)     1.6
        petal length (cm)    2.4
        petal width (cm)     1.1
        species              0.0

Estadísticos por columna:
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)     species
count        150.000000  150.000000
mean           1.199333    1.000000
std            0.762238    0.819232
min            0.100000    0.000000
25%            0.300000    0.000000
50%            1.300000    1.000000
75%            1.800000    2.000000
max            2.500000    2.000000

Tabla multi-índice (especies y ancho del pétalo):
                          sepal length (cm)  sepal width (cm)  \
species petal width (cm)
0       0.1                            24.1              16.8
        0.2                           144.2              98.0
        0.3                            34.8              23.3
        0.4                            37.1              26.5
        0.5                             5.1               3.3
        0.6                             5.0               3.5
1       1.0                            37.9              16.6
        1.1                            16.2               7.4
        1.2                            28.9              13.7
        1.3                            76.5              35.7
        1.4                            44.5              20.7
        1.5                            61.9              28.8
        1.6                            18.3               9.4
        1.7                             6.7               3.0
        1.8                             5.9               3.2
2       1.4                             6.1               2.6
        1.5                            12.3               5.0
        1.6                             7.2               3.0
        1.7                             4.9               2.5
        1.8                            70.9              32.1
        1.9                            31.7              13.4
        2.0                            39.9              18.1
        2.1                            41.5              18.2
        2.2                            20.6               9.6
        2.3                            55.3              24.7
        2.4                            18.8               9.3
        2.5                            20.2              10.2

                          petal length (cm)
species petal width (cm)
0       0.1                             6.9
        0.2                            41.9
        0.3                            10.0
        0.4                            11.0
        0.5                             1.7
        0.6                             1.6
1       1.0                            25.4
        1.1                            10.7
        1.2                            21.2
        1.3                            54.3
        1.4                            31.5
        1.5                            45.8
        1.6                            14.3
        1.7                             5.0
        1.8                             4.8
2       1.4                             5.6
        1.5                            10.1
        1.6                             5.8
        1.7                             4.5
        1.8                            59.2
        1.9                            26.6
        2.0                            33.3
        2.1                            34.7
        2.2                            18.1
        2.3                            45.6
        2.4                            16.3
        2.5                            17.8

<ipython-input-7-6ca49318911b>:54: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  estadisticos_por_especie = grouped.apply(estadisticos_basicos)

<font color='green'>Fin Actividad 2</font>

## <font color='blue'>**Análisis de Datos con Base de Datos Titanic**</font>

Para este probleme utilizaremos la base de datos "_titanic_". Para cargarla debe usar los siguientes comandos:

```
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head(5)
```
Considere sólo las siguientes variables: _survived_, _pclass_, _sex_, _age_, _fare_ y _embarked_.

### <font color='green'>Actividad 3</font>

1. Reemplace los valores faltantes para la columna edad por el valor promedio de la muestra.
2. Elimine cualquier otra fila en la que falten datos

In [8]:
# Tu código aquí ...
#DATASET TITANIC

import seaborn as sns

# Load the Titanic dataset
titanic = sns.load_dataset('titanic')
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [9]:
import seaborn as sns

# Cargar el conjunto de datos Titanic
titanic = sns.load_dataset("titanic")

# Seleccionar solo las columnas indicadas
titanic = titanic[['survived', 'pclass', 'sex', 'age', 'fare', 'embarked']]

# Reemplazar valores faltantes en 'age' con el promedio de la columna
titanic['age'] = titanic['age'].fillna(titanic['age'].mean())

# Eliminar filas con valores faltantes en cualquier otra columna
titanic = titanic.dropna()

# Mostrar las primeras filas del DataFrame resultante
print(titanic.head())

   survived  pclass     sex   age     fare embarked
0         0       3    male  22.0   7.2500        S
1         1       1  female  38.0  71.2833        C
2         1       3  female  26.0   7.9250        S
3         1       1  female  35.0  53.1000        S
4         0       3    male  35.0   8.0500        S

<font color='green'>Fin Actividad 3</font>

### <font color='green'>Actividad 4</font>

1. Entregar la información correspondiente a la la tasa de supervivencia promedio agrupada por sexo y clase del pasajero.
2. Genere una tabla que muestre la cantidad de personas agrupadas por sexo y clase.
3. Muestre la misma información del punto 1, pero la cantidad de sobrevivientes.

In [10]:
# Tu código aquí ...


import seaborn as sns

# Cargar el conjunto de datos Titanic
titanic = sns.load_dataset("titanic")

# Seleccionar solo las columnas indicadas
titanic = titanic[['survived', 'pclass', 'sex', 'age', 'fare', 'embarked']]

# Reemplazar valores faltantes en 'age' con el promedio de la columna
titanic['age'] = titanic['age'].fillna(titanic['age'].mean())

# Eliminar filas con valores faltantes en cualquier otra columna
titanic = titanic.dropna()

# Actividad 4.1: Tasa de supervivencia promedio agrupada por sexo y clase
survival_rate = titanic.groupby(['sex', 'pclass'])['survived'].mean()

# Actividad 4.2: Tabla con la cantidad de personas agrupadas por sexo y clase
passenger_count = titanic.groupby(['sex', 'pclass']).size()

# Actividad 4.3: Tabla con la cantidad de sobrevivientes agrupados por sexo y clase
survivor_count = titanic[titanic['survived'] == 1].groupby(['sex', 'pclass']).size()

# Mostrar resultados
print("Tasa de supervivencia promedio agrupada por sexo y clase:")
print(survival_rate)

print("\nCantidad de personas agrupadas por sexo y clase:")
print(passenger_count)

print("\nCantidad de sobrevivientes agrupados por sexo y clase:")
print(survivor_count)

Tasa de supervivencia promedio agrupada por sexo y clase:
sex     pclass
female  1         0.967391
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: survived, dtype: float64

Cantidad de personas agrupadas por sexo y clase:
sex     pclass
female  1          92
        2          76
        3         144
male    1         122
        2         108
        3         347
dtype: int64

Cantidad de sobrevivientes agrupados por sexo y clase:
sex     pclass
female  1         89
        2         70
        3         72
male    1         45
        2         17
        3         47
dtype: int64

Hasta ahora hemos examinado las tasas de supervivencia según el sexo y la clase de pasajeros. Otro factor que podría haber influido en la supervivencia es la edad. **¿Los niños varones tenían tanta probabilidad de morir como las mujeres en general?** Podemos investigar esta pregunta mediante la indexación múltiple, o pivotando en más de dos variables, agregando otro índice.

Divida la información de la columna "age" en intervalos, creando así una nueva categoría que se puede utilizar para agrupar. Divida el conjunto en intervalos de (0, 12], (12, 18] y (18, 80].

4. Genere la tabla que le ayude a responder la pregunta anterior (considerando los rangos definidos).
5. Para una mejor interpretación de la información anterior, genere una tabla con el número de entradas por cada grupo.

In [11]:
# Tu código aquí ...


# Crear una nueva columna con rangos de edad
age_bins = pd.cut(titanic['age'], bins=[0, 12, 18, 80], labels=["(0, 12]", "(12, 18]", "(18, 80]"])

# Agregar la nueva columna al DataFrame
titanic['age_group'] = age_bins

# Tabla de tasas de supervivencia agrupadas por sexo, clase y grupo de edad
survival_rate_by_group = titanic.groupby(['sex', 'pclass', 'age_group'])['survived'].mean()

# Tabla con el número de entradas por grupo
entries_by_group = titanic.groupby(['sex', 'pclass', 'age_group']).size()

# Mostrar resultados
print("Tasa de supervivencia agrupada por sexo, clase y rango de edad:")
print(survival_rate_by_group)

print("\nNúmero de entradas por grupo (sexo, clase y rango de edad):")
print(entries_by_group)

Tasa de supervivencia agrupada por sexo, clase y rango de edad:
sex     pclass  age_group
female  1       (0, 12]      0.000000
                (12, 18]     1.000000
                (18, 80]     0.975309
        2       (0, 12]      1.000000
                (12, 18]     1.000000
                (18, 80]     0.903226
        3       (0, 12]      0.478261
                (12, 18]     0.550000
                (18, 80]     0.495050
male    1       (0, 12]      1.000000
                (12, 18]     0.500000
                (18, 80]     0.350427
        2       (0, 12]      1.000000
                (12, 18]     0.000000
                (18, 80]     0.086022
        3       (0, 12]      0.360000
                (12, 18]     0.076923
                (18, 80]     0.121622
Name: survived, dtype: float64

Número de entradas por grupo (sexo, clase y rango de edad):
sex     pclass  age_group
female  1       (0, 12]        1
                (12, 18]      10
                (18, 80]      81
        2       (0, 12]        8
                (12, 18]       6
                (18, 80]      62
        3       (0, 12]       23
                (12, 18]      20
                (18, 80]     101
male    1       (0, 12]        3
                (12, 18]       2
                (18, 80]     117
        2       (0, 12]        9
                (12, 18]       6
                (18, 80]      93
        3       (0, 12]       25
                (12, 18]      26
                (18, 80]     296
dtype: int64

<ipython-input-11-08e44f251ecf>:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_rate_by_group = titanic.groupby(['sex', 'pclass', 'age_group'])['survived'].mean()
<ipython-input-11-08e44f251ecf>:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  entries_by_group = titanic.groupby(['sex', 'pclass', 'age_group']).size()

Pandas también admite la indexación múltiple en las columnas. Como ejemplo, considere el precio de los boletos de un pasajero. Esta es otra característica continua que se puede discretizar. Divida los precios en 2 cuantiles iguales (baratos y caros). Algunos de los grupos resultantes podrían estar vacíos; para mejorar la legibilidad de la tabla use un guión en las casillas vacías.

6. Genere una tabla que nos permita ver el efecto del precio de los tickets.

In [12]:
# Tu código aquí ...


# Dividir el precio de los boletos en dos cuantiles (baratos y caros)
fare_quantiles = pd.qcut(titanic['fare'], q=2, labels=["Baratos", "Caros"])

# Agregar la nueva columna al DataFrame
titanic['fare_category'] = fare_quantiles

# Generar una tabla con la tasa de supervivencia agrupada por sexo, clase y categoría de precio
survival_rate_by_fare = titanic.pivot_table(
    index=['sex', 'pclass'],
    columns='fare_category',
    values='survived',
    aggfunc='mean'
)

# Rellenar los valores NaN con un guion para mejorar la legibilidad
survival_rate_by_fare = survival_rate_by_fare.fillna('-')

# Mostrar la tabla resultante
print("Tasa de supervivencia por sexo, clase y categoría de precio:")
print(survival_rate_by_fare)

Tasa de supervivencia por sexo, clase y categoría de precio:
fare_category   Baratos     Caros
sex    pclass
female 1              -  0.967391
       2       0.896552  0.936170
       3       0.580247  0.396825
male   1            0.0  0.387931
       2       0.111111  0.222222
       3       0.119403  0.189873

<ipython-input-12-4e07564ced44>:11: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  survival_rate_by_fare = titanic.pivot_table(

<font color='green'>Fin Actividad 4</font>

### <font color='green'>Actividad 5</font>

### Análisis de una Hipótesis

Supongamos que alguien afirma que la ciudad desde la que se embarcó un pasajero tuvo una gran influencia en la tasa de supervivencia del pasajero. Investigue esta afirmación.

1. Verifique las tasas de supervivencia de los pasajeros según el lugar desde donde se embarcaron (indicadas en la columna "embarked").

2. Cree una tabla dinámica para examinar las tasas de supervivencia según el lugar de embarque y el género.

3. ¿Qué le sugieren estas tablas sobre la importancia de dónde se embarcaron las personas para influir en su tasa de supervivencia? Examine el contexto del problema y explique lo que cree que esto realmente significa.

4. Investigue la afirmación más a fondo con al menos dos tablas dinámicas más, explorando otros criterios (por ejemplo, clase, edad, etc.). Explique cuidadosamente sus conclusiones.

In [13]:
# Tu código aquí ...

import seaborn as sns
import pandas as pd

# Cargar el conjunto de datos Titanic
titanic = sns.load_dataset("titanic")

# Seleccionar solo las columnas necesarias y manejar datos faltantes
titanic = titanic[['survived', 'pclass', 'sex', 'age', 'fare', 'embarked']]
titanic['age'] = titanic['age'].fillna(titanic['age'].mean())
titanic = titanic.dropna()

# Tabla 1: Tasas de supervivencia por lugar de embarque
survival_by_embarked = titanic.groupby('embarked')['survived'].mean()

# Tabla 2: Tasa de supervivencia por lugar de embarque y género
survival_by_embarked_gender = titanic.pivot_table(
    index='embarked',
    columns='sex',
    values='survived',
    aggfunc='mean'
)

# Tabla 3: Tasa de supervivencia por lugar de embarque y clase
survival_by_embarked_class = titanic.pivot_table(
    index='embarked',
    columns='pclass',
    values='survived',
    aggfunc='mean'
)

# Tabla 4: Tasa de supervivencia por lugar de embarque y rangos de edad
age_bins = pd.cut(titanic['age'], bins=[0, 12, 18, 80], labels=["(0, 12]", "(12, 18]", "(18, 80]"])
titanic['age_group'] = age_bins

survival_by_embarked_age = titanic.pivot_table(
    index='embarked',
    columns='age_group',
    values='survived',
    aggfunc='mean'
)

# Mostrar las tablas
print("Tabla 1: Tasas de supervivencia por lugar de embarque")
print(survival_by_embarked)

print("\nTabla 2: Tasa de supervivencia por lugar de embarque y género")
print(survival_by_embarked_gender)

print("\nTabla 3: Tasa de supervivencia por lugar de embarque y clase")
print(survival_by_embarked_class)

print("\nTabla 4: Tasa de supervivencia por lugar de embarque y rangos de edad")
print(survival_by_embarked_age)

<ipython-input-13-eb0a8a560550>:37: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  survival_by_embarked_age = titanic.pivot_table(

Tabla 1: Tasas de supervivencia por lugar de embarque
embarked
C    0.553571
Q    0.389610
S    0.336957
Name: survived, dtype: float64

Tabla 2: Tasa de supervivencia por lugar de embarque y género
sex         female      male
embarked
C         0.876712  0.305263
Q         0.750000  0.073171
S         0.689655  0.174603

Tabla 3: Tasa de supervivencia por lugar de embarque y clase
pclass           1         2         3
embarked
C         0.694118  0.529412  0.378788
Q         0.500000  0.666667  0.375000
S         0.582677  0.463415  0.189802

Tabla 4: Tasa de supervivencia por lugar de embarque y rangos de edad
age_group   (0, 12]  (12, 18]  (18, 80]
embarked
C          0.818182  0.647059  0.521429
Q          0.000000  0.750000  0.391304
S          0.574074  0.326531  0.314233

Las letras que etiquetan las categorías de la variable 'embarked' corresponden a las ciudades donde la gente se embarcó en el Titanic:

* Cherbourg
* Queenstown
* Southampton

In [14]:
# Tu código aquí ...




# Reemplazar las iniciales en 'embarked' con los nombres reales
titanic['embarked'] = titanic['embarked'].replace({
    'C': 'Cherbourg',
    'Q': 'Queenstown',
    'S': 'Southampton'
})

# Tabla 1: Tasas de supervivencia por lugar de embarque
survival_by_embarked = titanic.groupby('embarked')['survived'].mean()

# Tabla 2: Tasa de supervivencia por lugar de embarque y género
survival_by_embarked_gender = titanic.pivot_table(
    index='embarked',
    columns='sex',
    values='survived',
    aggfunc='mean'
)

# Tabla 3: Tasa de supervivencia por lugar de embarque y clase
survival_by_embarked_class = titanic.pivot_table(
    index='embarked',
    columns='pclass',
    values='survived',
    aggfunc='mean'
)

# Tabla 4: Tasa de supervivencia por lugar de embarque y rangos de edad
age_bins = pd.cut(titanic['age'], bins=[0, 12, 18, 80], labels=["(0, 12]", "(12, 18]", "(18, 80]"])
titanic['age_group'] = age_bins

survival_by_embarked_age = titanic.pivot_table(
    index='embarked',
    columns='age_group',
    values='survived',
    aggfunc='mean'
)

# Mostrar las tablas con nombres reales
print("Tabla 1: Tasas de supervivencia por lugar de embarque")
print(survival_by_embarked)

print("\nTabla 2: Tasa de supervivencia por lugar de embarque y género")
print(survival_by_embarked_gender)

print("\nTabla 3: Tasa de supervivencia por lugar de embarque y clase")
print(survival_by_embarked_class)

print("\nTabla 4: Tasa de supervivencia por lugar de embarque y rangos de edad")
print(survival_by_embarked_age)

Tabla 1: Tasas de supervivencia por lugar de embarque
embarked
Cherbourg      0.553571
Queenstown     0.389610
Southampton    0.336957
Name: survived, dtype: float64

Tabla 2: Tasa de supervivencia por lugar de embarque y género
sex            female      male
embarked
Cherbourg    0.876712  0.305263
Queenstown   0.750000  0.073171
Southampton  0.689655  0.174603

Tabla 3: Tasa de supervivencia por lugar de embarque y clase
pclass              1         2         3
embarked
Cherbourg    0.694118  0.529412  0.378788
Queenstown   0.500000  0.666667  0.375000
Southampton  0.582677  0.463415  0.189802

Tabla 4: Tasa de supervivencia por lugar de embarque y rangos de edad
age_group     (0, 12]  (12, 18]  (18, 80]
embarked
Cherbourg    0.818182  0.647059  0.521429
Queenstown   0.000000  0.750000  0.391304
Southampton  0.574074  0.326531  0.314233

<ipython-input-14-2998574f2680>:36: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  survival_by_embarked_age = titanic.pivot_table(

<font color='green'>Fin Actividad 5</font>